USE [master]
GO
/****** Object:  Database [Aviato]    Script Date: 7/4/2019 3:03:55 PM ******/
CREATE DATABASE [Aviato]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aviato', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Aviato.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aviato_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Aviato_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aviato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aviato]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avion]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avion](
	[AvionId] [int] IDENTITY(1,1) NOT NULL,
	[GodinaProizvodnje] [int] NOT NULL,
	[ServisniStatus] [bit] NOT NULL,
	[TipAviona] [int] NOT NULL,
	[SifraAviona] [nvarchar](max) NULL,
	[EditZaposleniViewModel_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Avion] PRIMARY KEY CLUSTERED 
(
	[AvionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinacija]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinacija](
	[DestinacijaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](20) NOT NULL,
	[TrajanjeLeta] [int] NOT NULL,
	[Jezik] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Destinacija] PRIMARY KEY CLUSTERED 
(
	[DestinacijaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EditZaposleniViewModels]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EditZaposleniViewModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pilot_PilotId] [int] NULL,
	[RoleViewModel_Id] [nvarchar](128) NULL,
	[Zaposleni_ZaposleniId] [int] NULL,
	[promenaLicenci] [nvarchar](max) NULL,
	[promenaDatuma] [nvarchar](max) NULL,
	[promenaJezika] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EditZaposleniViewModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jezik]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jezik](
	[JezikId] [int] IDENTITY(1,1) NOT NULL,
	[Jezik] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.Jezik] PRIMARY KEY CLUSTERED 
(
	[JezikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Let]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Let](
	[LetId] [int] IDENTITY(1,1) NOT NULL,
	[Destinacija] [int] NOT NULL,
	[Avion] [int] NOT NULL,
	[VremePoletanja] [datetime] NOT NULL,
	[Pilot] [int] NULL,
	[Kopilot] [int] NULL,
	[Stjuard1] [int] NULL,
	[Stjuard2] [int] NULL,
	[EditZaposleniViewModel_Id] [int] NULL,
	[IdLeta] [int] NOT NULL,
	[NepotpunaPosada] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Let] PRIMARY KEY CLUSTERED 
(
	[LetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mehanicar]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mehanicar](
	[MehanicarId] [int] NOT NULL,
	[Licenca] [int] NOT NULL,
	[DatumLicence] [smalldatetime] NOT NULL,
	[EditZaposleniViewModel_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Mehanicar] PRIMARY KEY CLUSTERED 
(
	[MehanicarId] ASC,
	[Licenca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilot]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilot](
	[PilotId] [int] IDENTITY(1,1) NOT NULL,
	[PoslednjiMedicinski] [smalldatetime] NOT NULL,
	[OcenaZS] [bit] NOT NULL,
	[SatiLetenja] [int] NOT NULL,
	[SifraPilota] [int] NOT NULL,
	[PoslednjeAzuriranje] [datetime] NULL,
 CONSTRAINT [PK_dbo.Pilot] PRIMARY KEY CLUSTERED 
(
	[PilotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleViewModels]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleViewModels](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.RoleViewModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stjuard]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stjuard](
	[JezikId] [int] NOT NULL,
	[StjuardId] [int] NOT NULL,
	[EditZaposleniViewModel_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Stjuard] PRIMARY KEY CLUSTERED 
(
	[JezikId] ASC,
	[StjuardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip](
	[TipId] [int] IDENTITY(1,1) NOT NULL,
	[NazivTipa] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.Tip] PRIMARY KEY CLUSTERED 
(
	[TipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposleni]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposleni](
	[ZaposleniId] [int] IDENTITY(1,1) NOT NULL,
	[JMBG] [nvarchar](max) NOT NULL,
	[Ime] [nvarchar](20) NOT NULL,
	[Prezime] [nvarchar](20) NOT NULL,
	[GodinaRodjenja] [int] NOT NULL,
	[IdentityId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Zaposleni] PRIMARY KEY CLUSTERED 
(
	[ZaposleniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZaposleniViewModels]    Script Date: 7/4/2019 3:03:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZaposleniViewModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImeIPrezime] [nvarchar](max) NULL,
	[GodinaRodjenja] [int] NOT NULL,
	[JMBG] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Pozicija] [nvarchar](max) NULL,
	[ZaposleniId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ZaposleniViewModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'6b3a52b5-4e9a-4401-a663-0311096b2a10', N'SuperUser', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'cc7d58b3-bdab-4d2c-964e-5409c894a3d4', N'Pilot', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'd44eaad4-3bb5-496d-ae25-ba68f694bdf3', N'Admin', N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1124f1fc-0ee1-4e5b-9665-2f4a93061543', N'f3ed7fa6-2582-40bb-b3df-502056890847')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1ea17172-1659-4321-97fc-bf9614d194b5', N'cc7d58b3-bdab-4d2c-964e-5409c894a3d4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1fcc909f-7923-4184-b1af-61c6ea98295d', N'cc7d58b3-bdab-4d2c-964e-5409c894a3d4')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1124f1fc-0ee1-4e5b-9665-2f4a93061543', N'rah.fera@gmail.com', 0, N'AGWiUbAmUjLsZUTk3NrsqMDRP/3bZ3fuF7oIMTzvbeZVbzHzUyaOOt8dpNKv2JQHbA==', N'b6e39786-420a-450e-ae3b-d52b118a8eaa', NULL, 0, 0, NULL, 1, 0, N'rah.fera@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1ea17172-1659-4321-97fc-bf9614d194b5', N'mil.savi@gmail.com', 0, N'AAhD8Tup8RRdSzYU9tE+d01KqN7pQAB0E16h955pf6ChD2STTfT9bQVN97zcEYBNAw==', N'493e53e5-2e86-44f1-bf86-6ae1a49b2887', NULL, 0, 0, NULL, 1, 0, N'mil.savi@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1fcc909f-7923-4184-b1af-61c6ea98295d', N'stj.fili@gmail.com', 0, N'AL64esBpfsCYPUD4epN8ii6LMAsUnSCi5N6lulvk+lv20mXEYR5VMsuHCEQmm2mz5Q==', N'93edc0ba-ce7e-4ca5-8fd5-edcc42a1e320', NULL, 0, 0, NULL, 1, 0, N'stj.fili@gmail.com')
SET IDENTITY_INSERT [dbo].[Avion] ON 

INSERT [dbo].[Avion] ([AvionId], [GodinaProizvodnje], [ServisniStatus], [TipAviona], [SifraAviona], [EditZaposleniViewModel_Id]) VALUES (3, 2012, 0, 6, N'A320-1', NULL)
INSERT [dbo].[Avion] ([AvionId], [GodinaProizvodnje], [ServisniStatus], [TipAviona], [SifraAviona], [EditZaposleniViewModel_Id]) VALUES (4, 2014, 1, 9, N'727-1', NULL)
INSERT [dbo].[Avion] ([AvionId], [GodinaProizvodnje], [ServisniStatus], [TipAviona], [SifraAviona], [EditZaposleniViewModel_Id]) VALUES (5, 2010, 0, 6, N'A320-2', NULL)
SET IDENTITY_INSERT [dbo].[Avion] OFF
SET IDENTITY_INSERT [dbo].[Destinacija] ON 

INSERT [dbo].[Destinacija] ([DestinacijaId], [Naziv], [TrajanjeLeta], [Jezik]) VALUES (4, N'Washington', 15, 9)
INSERT [dbo].[Destinacija] ([DestinacijaId], [Naziv], [TrajanjeLeta], [Jezik]) VALUES (5, N'Shanghai', 21, 7)
INSERT [dbo].[Destinacija] ([DestinacijaId], [Naziv], [TrajanjeLeta], [Jezik]) VALUES (6, N'Moscow', 4, 8)
SET IDENTITY_INSERT [dbo].[Destinacija] OFF
SET IDENTITY_INSERT [dbo].[Jezik] ON 

INSERT [dbo].[Jezik] ([JezikId], [Jezik]) VALUES (7, N'Kineski')
INSERT [dbo].[Jezik] ([JezikId], [Jezik]) VALUES (8, N'Ruski')
INSERT [dbo].[Jezik] ([JezikId], [Jezik]) VALUES (9, N'Engleski')
SET IDENTITY_INSERT [dbo].[Jezik] OFF
SET IDENTITY_INSERT [dbo].[Let] ON 

INSERT [dbo].[Let] ([LetId], [Destinacija], [Avion], [VremePoletanja], [Pilot], [Kopilot], [Stjuard1], [Stjuard2], [EditZaposleniViewModel_Id], [IdLeta], [NepotpunaPosada]) VALUES (21, 6, 3, CAST(N'2019-05-14T00:00:00.000' AS DateTime), 78, 90, 85, 88, NULL, 0, 0)
INSERT [dbo].[Let] ([LetId], [Destinacija], [Avion], [VremePoletanja], [Pilot], [Kopilot], [Stjuard1], [Stjuard2], [EditZaposleniViewModel_Id], [IdLeta], [NepotpunaPosada]) VALUES (22, 5, 4, CAST(N'2019-05-31T00:00:00.000' AS DateTime), 77, 78, 83, 88, NULL, 0, 0)
INSERT [dbo].[Let] ([LetId], [Destinacija], [Avion], [VremePoletanja], [Pilot], [Kopilot], [Stjuard1], [Stjuard2], [EditZaposleniViewModel_Id], [IdLeta], [NepotpunaPosada]) VALUES (23, 6, 7, CAST(N'2019-06-14T00:00:00.000' AS DateTime), 77, 75, 84, 83, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Let] OFF
INSERT [dbo].[Mehanicar] ([MehanicarId], [Licenca], [DatumLicence], [EditZaposleniViewModel_Id]) VALUES (80, 6, CAST(N'2019-01-16T00:00:00' AS SmallDateTime), NULL)
INSERT [dbo].[Mehanicar] ([MehanicarId], [Licenca], [DatumLicence], [EditZaposleniViewModel_Id]) VALUES (80, 7, CAST(N'2019-03-12T00:00:00' AS SmallDateTime), NULL)
INSERT [dbo].[Mehanicar] ([MehanicarId], [Licenca], [DatumLicence], [EditZaposleniViewModel_Id]) VALUES (80, 8, CAST(N'2019-02-07T00:00:00' AS SmallDateTime), NULL)
SET IDENTITY_INSERT [dbo].[Pilot] ON 

INSERT [dbo].[Pilot] ([PilotId], [PoslednjiMedicinski], [OcenaZS], [SatiLetenja], [SifraPilota], [PoslednjeAzuriranje]) VALUES (19, CAST(N'2019-03-05T00:00:00' AS SmallDateTime), 1, 185, 75, CAST(N'2019-07-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Pilot] ([PilotId], [PoslednjiMedicinski], [OcenaZS], [SatiLetenja], [SifraPilota], [PoslednjeAzuriranje]) VALUES (20, CAST(N'2019-04-26T00:00:00' AS SmallDateTime), 0, 151, 76, CAST(N'2019-07-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Pilot] ([PilotId], [PoslednjiMedicinski], [OcenaZS], [SatiLetenja], [SifraPilota], [PoslednjeAzuriranje]) VALUES (21, CAST(N'2019-01-23T00:00:00' AS SmallDateTime), 1, 142, 77, CAST(N'2019-07-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pilot] OFF
INSERT [dbo].[Stjuard] ([JezikId], [StjuardId], [EditZaposleniViewModel_Id]) VALUES (7, 83, NULL)
INSERT [dbo].[Stjuard] ([JezikId], [StjuardId], [EditZaposleniViewModel_Id]) VALUES (7, 85, NULL)
INSERT [dbo].[Stjuard] ([JezikId], [StjuardId], [EditZaposleniViewModel_Id]) VALUES (7, 88, NULL)
SET IDENTITY_INSERT [dbo].[Tip] ON 

INSERT [dbo].[Tip] ([TipId], [NazivTipa]) VALUES (6, N'Airbus A320')
INSERT [dbo].[Tip] ([TipId], [NazivTipa]) VALUES (7, N'Airbus A380')
INSERT [dbo].[Tip] ([TipId], [NazivTipa]) VALUES (8, N'Boeing 707')
SET IDENTITY_INSERT [dbo].[Tip] OFF
SET IDENTITY_INSERT [dbo].[Zaposleni] ON 

INSERT [dbo].[Zaposleni] ([ZaposleniId], [JMBG], [Ime], [Prezime], [GodinaRodjenja], [IdentityId]) VALUES (73, N'1411979787816', N'Katarina', N'Nikić', 1979, N'4675bc56-1f72-425f-a25e-e1ed5e83cc1f')
INSERT [dbo].[Zaposleni] ([ZaposleniId], [JMBG], [Ime], [Prezime], [GodinaRodjenja], [IdentityId]) VALUES (74, N'0807974770017', N'Svetozar', N'Dimitrijevic', 1966, N'72347053-f997-46fd-ba38-2760bcd3b376')
INSERT [dbo].[Zaposleni] ([ZaposleniId], [JMBG], [Ime], [Prezime], [GodinaRodjenja], [IdentityId]) VALUES (75, N'1411979787816', N'Stjepan', N'Filipović', 1976, N'1fcc909f-7923-4184-b1af-61c6ea98295d')
SET IDENTITY_INSERT [dbo].[Zaposleni] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EditZaposleniViewModel_Id]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_EditZaposleniViewModel_Id] ON [dbo].[Avion]
(
	[EditZaposleniViewModel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipAviona]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TipAviona] ON [dbo].[Avion]
(
	[TipAviona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jezik]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jezik] ON [dbo].[Destinacija]
(
	[Jezik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pilot_PilotId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pilot_PilotId] ON [dbo].[EditZaposleniViewModels]
(
	[Pilot_PilotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleViewModel_Id]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleViewModel_Id] ON [dbo].[EditZaposleniViewModels]
(
	[RoleViewModel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Zaposleni_ZaposleniId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Zaposleni_ZaposleniId] ON [dbo].[EditZaposleniViewModels]
(
	[Zaposleni_ZaposleniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Avion]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Avion] ON [dbo].[Let]
(
	[Avion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Destinacija]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Destinacija] ON [dbo].[Let]
(
	[Destinacija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EditZaposleniViewModel_Id]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_EditZaposleniViewModel_Id] ON [dbo].[Let]
(
	[EditZaposleniViewModel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kopilot]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Kopilot] ON [dbo].[Let]
(
	[Kopilot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pilot]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pilot] ON [dbo].[Let]
(
	[Pilot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stjuard1]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Stjuard1] ON [dbo].[Let]
(
	[Stjuard1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stjuard2]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Stjuard2] ON [dbo].[Let]
(
	[Stjuard2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EditZaposleniViewModel_Id]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_EditZaposleniViewModel_Id] ON [dbo].[Mehanicar]
(
	[EditZaposleniViewModel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licenca]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Licenca] ON [dbo].[Mehanicar]
(
	[Licenca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MehanicarId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_MehanicarId] ON [dbo].[Mehanicar]
(
	[MehanicarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SifraPilota]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_SifraPilota] ON [dbo].[Pilot]
(
	[SifraPilota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EditZaposleniViewModel_Id]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_EditZaposleniViewModel_Id] ON [dbo].[Stjuard]
(
	[EditZaposleniViewModel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JezikId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_JezikId] ON [dbo].[Stjuard]
(
	[JezikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StjuardId]    Script Date: 7/4/2019 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_StjuardId] ON [dbo].[Stjuard]
(
	[StjuardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[Let] ADD  DEFAULT ((0)) FOR [IdLeta]
GO
ALTER TABLE [dbo].[Let] ADD  DEFAULT ((0)) FOR [NepotpunaPosada]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Avion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Avion_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id] FOREIGN KEY([EditZaposleniViewModel_Id])
REFERENCES [dbo].[EditZaposleniViewModels] ([Id])
GO
ALTER TABLE [dbo].[Avion] CHECK CONSTRAINT [FK_dbo.Avion_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id]
GO
ALTER TABLE [dbo].[Avion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Avion_dbo.Tip_TipAviona] FOREIGN KEY([TipAviona])
REFERENCES [dbo].[Tip] ([TipId])
GO
ALTER TABLE [dbo].[Avion] CHECK CONSTRAINT [FK_dbo.Avion_dbo.Tip_TipAviona]
GO
ALTER TABLE [dbo].[Destinacija]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Destinacija_dbo.Jezik_Jezik] FOREIGN KEY([Jezik])
REFERENCES [dbo].[Jezik] ([JezikId])
GO
ALTER TABLE [dbo].[Destinacija] CHECK CONSTRAINT [FK_dbo.Destinacija_dbo.Jezik_Jezik]
GO
ALTER TABLE [dbo].[EditZaposleniViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EditZaposleniViewModels_dbo.Pilot_Pilot_PilotId] FOREIGN KEY([Pilot_PilotId])
REFERENCES [dbo].[Pilot] ([PilotId])
GO
ALTER TABLE [dbo].[EditZaposleniViewModels] CHECK CONSTRAINT [FK_dbo.EditZaposleniViewModels_dbo.Pilot_Pilot_PilotId]
GO
ALTER TABLE [dbo].[EditZaposleniViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EditZaposleniViewModels_dbo.RoleViewModels_RoleViewModel_Id] FOREIGN KEY([RoleViewModel_Id])
REFERENCES [dbo].[RoleViewModels] ([Id])
GO
ALTER TABLE [dbo].[EditZaposleniViewModels] CHECK CONSTRAINT [FK_dbo.EditZaposleniViewModels_dbo.RoleViewModels_RoleViewModel_Id]
GO
ALTER TABLE [dbo].[EditZaposleniViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EditZaposleniViewModels_dbo.Zaposleni_Zaposleni_ZaposleniId] FOREIGN KEY([Zaposleni_ZaposleniId])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
GO
ALTER TABLE [dbo].[EditZaposleniViewModels] CHECK CONSTRAINT [FK_dbo.EditZaposleniViewModels_dbo.Zaposleni_Zaposleni_ZaposleniId]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.Avion_Avion] FOREIGN KEY([Avion])
REFERENCES [dbo].[Avion] ([AvionId])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.Avion_Avion]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.Destinacija_Destinacija] FOREIGN KEY([Destinacija])
REFERENCES [dbo].[Destinacija] ([DestinacijaId])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.Destinacija_Destinacija]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id] FOREIGN KEY([EditZaposleniViewModel_Id])
REFERENCES [dbo].[EditZaposleniViewModels] ([Id])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Kopilot] FOREIGN KEY([Kopilot])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Kopilot]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Pilot] FOREIGN KEY([Pilot])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Pilot]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Stjuard1] FOREIGN KEY([Stjuard1])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Stjuard1]
GO
ALTER TABLE [dbo].[Let]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Stjuard2] FOREIGN KEY([Stjuard2])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
GO
ALTER TABLE [dbo].[Let] CHECK CONSTRAINT [FK_dbo.Let_dbo.Zaposleni_Stjuard2]
GO
ALTER TABLE [dbo].[Mehanicar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mehanicar_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id] FOREIGN KEY([EditZaposleniViewModel_Id])
REFERENCES [dbo].[EditZaposleniViewModels] ([Id])
GO
ALTER TABLE [dbo].[Mehanicar] CHECK CONSTRAINT [FK_dbo.Mehanicar_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id]
GO
ALTER TABLE [dbo].[Mehanicar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mehanicar_dbo.Tip_Licenca] FOREIGN KEY([Licenca])
REFERENCES [dbo].[Tip] ([TipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mehanicar] CHECK CONSTRAINT [FK_dbo.Mehanicar_dbo.Tip_Licenca]
GO
ALTER TABLE [dbo].[Mehanicar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mehanicar_dbo.Zaposleni_MehanicarId] FOREIGN KEY([MehanicarId])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mehanicar] CHECK CONSTRAINT [FK_dbo.Mehanicar_dbo.Zaposleni_MehanicarId]
GO
ALTER TABLE [dbo].[Pilot]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pilot_dbo.Zaposleni_SifraPilota] FOREIGN KEY([SifraPilota])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pilot] CHECK CONSTRAINT [FK_dbo.Pilot_dbo.Zaposleni_SifraPilota]
GO
ALTER TABLE [dbo].[Stjuard]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stjuard_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id] FOREIGN KEY([EditZaposleniViewModel_Id])
REFERENCES [dbo].[EditZaposleniViewModels] ([Id])
GO
ALTER TABLE [dbo].[Stjuard] CHECK CONSTRAINT [FK_dbo.Stjuard_dbo.EditZaposleniViewModels_EditZaposleniViewModel_Id]
GO
ALTER TABLE [dbo].[Stjuard]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stjuard_dbo.Jezik_JezikId] FOREIGN KEY([JezikId])
REFERENCES [dbo].[Jezik] ([JezikId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stjuard] CHECK CONSTRAINT [FK_dbo.Stjuard_dbo.Jezik_JezikId]
GO
ALTER TABLE [dbo].[Stjuard]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stjuard_dbo.Zaposleni_StjuardId] FOREIGN KEY([StjuardId])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stjuard] CHECK CONSTRAINT [FK_dbo.Stjuard_dbo.Zaposleni_StjuardId]
GO
ALTER TABLE [dbo].[Zaposleni]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zaposleni_dbo.AspNetUsers_IdentityId] FOREIGN KEY([IdentityId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zaposleni] CHECK CONSTRAINT [FK_dbo.Zaposleni_dbo.AspNetUsers_IdentityId]
GO
USE [master]
GO
